.outer-nav {
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(229, 228, 223);
}

.navbar {
  width: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  z-index: 90;
  border-radius: 999px;
  padding: 0.75rem 2rem;
  background-color: rgb(229, 228, 223);
  box-shadow: 0 1rem 2rem #1a1917;
  color: #1a1917;
}

.navbar a {
  margin: 2px 8px 2px 8px;
  padding: 10px;
  margin-left: 5px;
  width: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgb(229, 228, 223);
  color: #1a1917;
  font-size: 21px;
  transition: 0.3s;
}

#animation1 {
  text-decoration: none;
}
#animation1:after {
  content: "";
  position: absolute;
  background-color: #1a1917;
  height: 3px;
  bottom: 10px;
  left: 48px;
  width: 0;
  transition: all ease 0.3s;
}
#animation1:hover:after {
  width: 50px;
}

#animation2 {
  text-decoration: none;
}
#animation2:after {
  content: "";
  position: absolute;
  background-color: #1a1917;
  height: 3px;
  bottom: 10px;
  left: 134px;
  width: 0;
  transition: all ease 0.3s;
}
#animation2:hover:after {
  width: 58px;
}

#animation3 {
  text-decoration: none;
}
#animation3:after {
  content: "";
  position: absolute;
  background-color: #1a1917;
  height: 3px;
  bottom: 10px;
  left: 228px;
  width: 0;
  transition: all ease 0.3s;
}
#animation3:hover:after {
  width: 77px;
}
#animation4 {
  text-decoration: none;
}
#animation4:after {
  content: "";
  position: absolute;
  background-color: #1a1917;
  height: 3px;
  bottom: 10px;
  left: 339px;
  width: 0;
  transition: all ease 0.3s;
}
#animation4:hover:after {
  width: 74px;
}

.show {
  position: fixed;
  top: 87%;
  left: 39%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(26, 25, 23, 0.557);
  background-color: rgb(229, 228, 223, 0.9);
  width: 350px;
  height: 70px;
  align-items: center;
  border-radius: 40px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.084);
  display: none;
}

.show a {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(229, 228, 223, 0);
  color: #1a1917;
  font-size: 20px;
  transition: 0.3s;
  display: none;
}

@media (min-width: 769px) and (max-width: 1025px) {
  .navbar a {
    margin: 2px 7px 2px 7px;
    padding: 8px;
    height: 33px;
    font-size: 20px;
  }
  #animation1 {
    text-decoration: none;
  }
  #animation1:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 47px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation1:hover:after {
    width: 49px;
  }

  #animation2 {
    text-decoration: none;
  }
  #animation2:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 126px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation2:hover:after {
    width: 60px;
  }

  #animation3 {
    text-decoration: none;
  }
  #animation3:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 216px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation3:hover:after {
    width: 74px;
  }
  #animation4 {
    text-decoration: none;
  }
  #animation4:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 320px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation4:hover:after {
    width: 74px;
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  .navbar a {
    margin: 2px 7px 2px 7px;
    padding: 7px;
    height: 31px;
    font-size: 19px;
  }
  #animation1 {
    text-decoration: none;
  }
  #animation1:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 45px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation1:hover:after {
    width: 48px;
  }

  #animation2 {
    text-decoration: none;
  }
  #animation2:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 120px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation2:hover:after {
    width: 57px;
  }

  #animation3 {
    text-decoration: none;
  }
  #animation3:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 204px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation3:hover:after {
    width: 74px;
  }
  #animation4 {
    text-decoration: none;
  }
  #animation4:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 303px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation4:hover:after {
    width: 70px;
  }
}

@media (min-width: 426px) and (max-width: 641px) {
  .navbar {
    padding: 18px;
  }
  .navbar a {
    margin: 0 7px 0 7px;
    padding: 0 7px 0 7px;
    height: 24px;
    font-size: 17px;
  }
  #animation1 {
    text-decoration: none;
  }
  #animation1:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 33px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation1:hover:after {
    width: 42px;
  }

  #animation2 {
    text-decoration: none;
  }
  #animation2:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 102px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation2:hover:after {
    width: 50px;
  }

  #animation3 {
    text-decoration: none;
  }
  #animation3:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 180px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation3:hover:after {
    width: 65px;
  }
  #animation4 {
    text-decoration: none;
  }
  #animation4:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 272px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation4:hover:after {
    width: 61px;
  }
}

@media (min-width: 0) and (max-width: 426px) {
  .navbar {
    padding: 18px;
  }
  .navbar a {
    margin: 0 4px 0 4px;
    padding: 0 5px 0 5px;
    height: 20px;
    font-size: 15px;
  }
  #animation1 {
    text-decoration: none;
  }
  #animation1:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 28px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation1:hover:after {
    width: 36px;
  }

  #animation2 {
    text-decoration: none;
  }
  #animation2:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 82px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation2:hover:after {
    width: 46px;
  }

  #animation3 {
    text-decoration: none;
  }
  #animation3:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 145px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation3:hover:after {
    width: 56px;
  }
  #animation4 {
    text-decoration: none;
  }
  #animation4:after {
    content: "";
    position: absolute;
    background-color: #1a1917;
    height: 3px;
    bottom: 10px;
    left: 219px;
    width: 0;
    transition: all ease 0.3s;
  }
  #animation4:hover:after {
    width: 55px;
  }
}
